<div class="container-fluid">
<%= form_for @new_years_item do |f| %>

  <div class ="row">

    <div class="panel-heading">
      <h3 class="panel-title">New Years Item</h3>
    </div>
      <div class="panel-body">
        <%= f.label :name %>
        <%= f.text_field :name, :required => true %>
      </div>
  </div>
  <div class="panel-heading">
      <h3 class="panel-title">Photo</h3>
    </div>
      <div class="panel-body">
        <%= f.label :photo %>
        <%= f.file_field :photo %> 
        <% if @new_years_item.photo %>
        <%= image_tag @new_years_item.photo_url , class: "img-responsive" %>
        <% end %>
      </div>
  </div>
  <div class="panel-heading">
      <h3 class="panel-title">Description</h3>
    </div>
      <div class="panel-body">
        <%= f.label :description %>
        <%= f.text_field :description, :required => true %>
      </div>
  </div>
  </div>
  
  
  <%= f.submit %>
<% end %>
</div>