<div class = "container-fluid" >
  <div class="fundraiser" >
    <%= image_tag "Banner_Playhouse.png" %>
  </div>
  <center><h1>Fundraising with <u><strong>Sweet Street</strong></u> is fun and you get to make money for your organization!</h1></center>
  <h3>Here's how it works:</h3>
  <ol>
    <li>Contact Sweet Street to discuss whether your organization qualifies as non for profit. You can do this by clicking contact us on this website or call <a href="tel:+1-815-932-4010">815-932-4010.</a></li>
    <li>Provide your non for profit tax letter to Sweet Street for record keeping.</li>
    <li>You will need to order 50 bags of popcorn at a time for your fundraiser. You will be able to place this on your organizations credit card.</li>
    <li>You may be able to order a variety of Cheese Popcorn, Caramel Corn, and or a mix of Cheese and Caramel Corn.</li>
    <li>We will arrange a time for you to pick up your product.</li>
    <li>Now it's time to get busy making money for your organization! ENJOY!</li>
  </ol>
  <% if user_signed_in? && current_user.admin? %> 
    <button type="button" class="btn btn-success"><a href="/fundraiser_pictures/new"><h5>ADD A NEW Fundraiser Picture</h5></a></button>
  <% end %>
  <h3>Have your fundraiser picture featured right here.</h3>
<% @fundraiser_pictures.each do |item| %>
  <div class="col-md-3 col-sm-3 col-xs-12 bor">
    <p><%= item.name %></p>
    <p><img src='<%= item.photo %>'  height="140" width="auto" class="thumbnail"></p>
    <p><%= item.description %></p>
      <% if user_signed_in? && current_user.admin? %>
        <button><%= link_to 'EDIT Product', edit_fundraiser_picture_path(item.id) %></button>
        <a data-confirm="Are you sure?" data-method="delete" href="/fundraiser_pictures/<%= item.id %>" rel="nofollow"><button type="button" class="btn btn-danger">Delete Fundraiser Picture</button></a>
      <% end %>
  </div>
<% end %>
</div>