<div class = "container-fluid" >
  <div class="fundraiser" >
    <%= image_tag "Banner_Playhouse.png" %>
  </div>
  <center><h1>Fundraise with <u><strong>Sweet Street</strong></u> and make money for your organization!</h1></center>
  <h3>Here's how it works</h3>
  
  <% if user_signed_in? && current_user.admin? %> 
    <button type="button" class="btn btn-success"><a href="/fundraiser_pictures/new"><h5>ADD A NEW Fundraiser Picture</h5></a></button>
  <% end %>

<% @fundraiser_pictures.each do |item| %>
  <div class="col-md-3 col-sm-3 col-xs-12 bor">
    <p><%= item.name %></p>
    <p><img src='<%= item.photo %>'  height="140" width="auto" class="thumbnail"></p>
    <p><%= item.description %></p>
      <% if user_signed_in? && current_user.admin? %>
        <button><%= link_to 'EDIT Product', edit_fundraiser_picture_path(item.id) %></button>
        <a data-confirm="Are you sure?" data-method="delete" href="/fundraiser_pictures/<%= item.id %>" rel="nofollow"><button type="button" class="btn btn-danger">Delete Fundraiser Picture</button></a>
      <% end %>
  </div>
<% end %>
</div>