<div class="container-fluid">
<%= form_for @popcorn_flavor do |f| %>

  <div class ="row">

    <div class="panel-heading">
      <h3 class="panel-title">Popcorn</h3>
    </div>
      <div class="panel-body">
        <%= f.label :name %>
        <%= f.text_field :name, :required => true %>
      </div>
  </div>
  <div class="panel-heading">
    <h3 class="panel-title">Photo</h3>
  </div>
    <div class="panel-body">
      <h4>Current Photo</h4><%= image_tag @popcorn_flavor.photo , class: "img-responsive" %>
        <%= f.label :photo %>
        <%= f.file_field :photo %>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Description</h3>
    </div>
      <div class="panel-body">
        <%= f.label :description %>
        <%= f.text_field :description, :required => true %>
      </div>
 
  
  
  <%= f.submit %>
<% end %>
</div>