
    <%= image_tag attachments['sweet_logo.png'].url -%>
  
    You have a new Wholesale order!
    
      <%= @order.user.first_name %> <%= @order.user.last_name %> <br>
      from: <%= @order.user.business %><br>
      <%= @order.user.address %>
      <%= @order.user.city %>, <%= @order.user.state %> <%= @order.user.zip_code %> <br>
      <%= @order.user.phone %><br>
      for a total of <%= number_to_currency @order.total %>
      <br>
   

    <a href="http://localhost:3000/orders/<%= @order.id %>">Please Click to see order!</a>
    
    Please make this order for me and deliver it when you can!
    Thank you! <%= @order.user.first_name %> <%= @order.user.last_name %>
  