<!DOCTYPE html>
<html>
  <head>
    <%= image_tag attachments['sweet_logo.png'].url %>
  </head>
  <body>
    <h1>You have a new Wholesale order!</h1>
    <p>
      <%= @order.user.first_name %> <%= @order.user.last_name %> <br>
      from: <%= @order.user.business %><br>
      <%= @order.user.address %>
      <%= @order.user.city %>, <%= @order.user.state %> <%= @order.user.zip_code %> <br>
      <a href="tel:+1-815-932-4010"><%= @order.user.phone %></a><br>
      for a total of <%= number_to_currency @order.total %>
      <br>
    </p>

  <h3>ORDER</h3>
  <table>
   <thead>
    <tr>
      <th>Name</th>&nbsp;&nbsp;
      <th>Small Bag</th>
    </tr>
   </thead>
   <tbody>

  <% @order.carted_products.each do |carted_product| %>
    <tr>
  <td><%= carted_product.ws_product.name %></td>&nbsp;&nbsp;
  <center><td><%= carted_product.sm_bag_qty * 50 %></td></center>
  <% end %>
  </tr>
  </tbody>
  </table>

    <a href="http://sweet-street.herokuapp.com/orders/<%= @order.id %>">Please Click to see order online! You must be logged on to see the order.</a>
    
    <h4>Please make this order for me and deliver it when you can!</h4>
    <h4>Thank you! <%= @order.user.first_name %> <%= @order.user.last_name %></h4>
  </body>
</html>
