<div class="container-fluid">
<%= form_for @ws_product do |f| %>

  <div class ="row">

    <div class="panel-heading">
      <h3 class="panel-title">Wholesale Product</h3>
    </div>
      <div class="panel-body">
        <%= f.label :name %>
        <%= f.text_field :name, :required => true %>
      </div>
  </div>
  <div class="panel-heading">
      <h3 class="panel-title">Change Photo?</h3>
    </div>
      <div class="panel-body">
        <h4></h4><%= image_tag @ws_product.photo , class: "img-responsive" %>
        <%= f.label :photo %>
        <%= f.file_field :photo %>
      </div>
  </div>
  <div class="panel-heading">
      <h3 class="panel-title">Prices</h3>
    </div>
      <div class="panel-body">
        <%= f.label :Small_Bag %>
        <%= f.text_field :sm_bag %>
      </div>
      <div class="panel-body">
        <%= f.label :lg_bag %>
        <%= f.text_field :lg_bag %>
      </div>
      <div class="panel-body">
        <%= f.label :one_gal_tin %>
        <%= f.text_field :one_gal_tin %>
      </div>
      <div class="panel-body">
        <%= f.label :two_gal_tin %>
        <%= f.text_field :two_gal_tin %>
      </div>
      <div class="panel-body">
        <%= f.label :three_and_half_tin %>
        <%= f.text_field :three_and_half_tin %>
      </div>
      <div class="panel-body">
        <%= f.label :six_and_half_tin %>
        <%= f.text_field :six_and_half_tin %>
      </div>
  </div>
  
  
  <%= f.submit %>
<% end %>
</div>