<div class="container-fluid">


<%= form_tag("/users/#{@user.id}", :method => :patch) do %>

  <u><h1>Business: <%= @user.business %></h1></u>

  <div class="field">
    <%= label_tag :address %><br />
    <%= text_field_tag :address, @user.address, :required => true %>
  </div>
  <br>
  <div class="field">
    <%= label_tag :city %><br />
    <%= text_field_tag :city, @user.city, :required => true %>
  </div>
  <br>
  <div class="field">
    <%= label_tag :state %><br />
    <%= text_field_tag :state, @user.state, :required => true %>
  </div>
  <br>
  <div class="field">
    <%= label_tag :zip_code %><br />
    <%= text_field_tag :zip_code, @user.zip_code, :required => true %>
  </div>
  <br>
  <div class="field">
    <%= label_tag :phone %><br />
    <%= text_field_tag :phone, @user.phone, :required => true %>
  </div>
  <br>
  <div class="field">
    <%= label_tag :email %><br />
    <%= email_field_tag :email, @user.email, :required => true %>
  </div>
  <br>
  <% if user_signed_in && current_user.admin? %>
  <div class="field">
    <%= label_tag :Wholesale_Customer %><br />
    <%= check_box_tag :ws_cust, true, false %>  MUST BE Checked to be active! Keep unchecked to make inactive.
  </div>
  <% end %>
   
  <br>
  <div class="actions">
    <%= submit_tag "Submit Changes", :class => "submit_user_changes" %>
  </div>

  <% end %>

</div>