<div class = "container-fluid" >
  <h1>Independence Day Items</h1>

  <% if user_signed_in? && current_user.admin? %> 
    <button type="button" class="btn btn-success"><a href="/independence_day_items/new"><h5>ADD A NEW Independence Day Item</h5></a></button>
  <% end %>

<% @independence_day_items.each do |item| %>
  <div class="col-md-3 col-sm-3 col-xs-12 bor">
    <p><%= item.name %></p>
    <p><img src='<%= item.photo %>'  height="140" width="auto" class="thumbnail"></p>
    <p><%= item.description %></p>
      <% if user_signed_in? && current_user.admin? %>
        <button><%= link_to 'EDIT Product', edit_independence_day_item_path(item.id) %></button>
        <a data-confirm="Are you sure?" data-method="delete" href="/independence_day_items/<%= item.id %>" rel="nofollow"><button type="button" class="btn btn-danger">Delete Independence Day Item</button></a>
      <% end %>
  </div>
<% end %>
</div>