<div class = "container-fluid">
  <h1>History of orders!</h1>

  <% @orders.each do |order| %>  
  <table class="table table-striped table-bordered table-responsive">
   <thead>
    <tr>
      <th class= "bg-primary" >Name</th>
      <th class= "bg-primary" >Date Order Placed</th>
      <th class= "bg-primary" >Total Paid</th>
      <th class= "bg-primary" >Name</th>&nbsp;&nbsp;
      <th class= "bg-primary" >Small Bag</th>
    </tr>
   </thead>
   <tbody>
    <% order.carted_products.each do |carted_product| %>
      <tr>
        <% if user_signed_in? && current_user.admin? %>
        <td><a data-confirm="Are you sure?" data-method="delete" href="/orders/<%= order.id %>" rel="nofollow"><button class="glyphicon glyphicon-trash">&nbsp;Delete order</button></a><%= order.user.first_name %> <%= order.user.last_name %> from <%= order.user.business %></td>
        <% else %>
        <td><%= order.user.first_name %> <%= order.user.last_name %> from <%= order.user.business %></td>
        <% end %>
        <td><%= order.created_at.strftime("%A, %D, %I:%M %p") %></td>
        <td><%= number_to_currency order.sub_total %></td>
        <td><%= carted_product.ws_product.name %></td>
        <td><%= carted_product.sm_bag_qty %></td>
    <% end %>
  <% end %>
      </tr>
  </tbody>
  </table>
  
</div>