<div class = "container-fluid">
  <h2>Here is your order and cost: </h2><h1><%= number_to_currency @order.total %> + <%= number_to_currency @order.shipping_total %> Shipping </h1>
    <h2><%= @order.user.business %> <%= @order.user.address %> in <%=@order.user.city %>, <%=@order.user.state %> <%=@order.user.zip_code %></h2>
  
  <center><h3 class="bg-green">ORDER</h3></center>
  <table class="table table-striped table-bordered table-responsive">
   <thead>
    <tr>
      <th class="bg-primary">Name</th>
      <th class="bg-primary">Small Bag</th>
      <!-- <th class="bg-primary">Large Bag</th>
      <th class="bg-primary">1 Gal Tin</th>
      <th class="bg-primary">2 Gal Tin</th>
      <th class="bg-primary">3 1/2 Gal Tin</th>
      <th class="bg-primary">6 1/2 Gal Tin</th> -->
      <th class="bg-primary">Adjust your order</th>
    </tr>
   </thead>
   <tbody>

  <% @order.carted_products.each do |carted_product| %>
    <tr>
  <% if @order.user.ws_cust? %>
  <td><%= carted_product.ws_product.name %></td>
  <% elsif %>
  <td><%= carted_product.fundraiser_item.name %></td>
  <% end %>
  <td><%= carted_product.sm_bag_qty %></td>
  <td><strong><button><a href="/carted_products/<%= carted_product.id %>/edit">Edit</a></button>&nbsp;<a data-confirm="Are you sure?" data-method="delete" href="/carted_products/<%= carted_product.id %>" rel="nofollow"><button>Delete Product</button></strong> </td>
 
  <% end %>
  </tr>
  </tbody>
  </table>
  <%= form_tag charges_path do %>
    <div id="pay-button"><script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-image="/assets/sweet-logo.png" style="width: 100px height: 100px" data-description="Sweet Street" data-amount="<%= (@order.total * 100) + (@order.shipping_total * 100).to_i %>" data-email="<%= current_user.email %>"></script>
      <i class="glyphicon glyphicon-credit-card" title="My Cart"></i>
    </div>
  <% end %>
</div>