<div class = "container-fluid" >
  <h1>Gourmet Popcorn Tins</h1>

  <% if user_signed_in? && current_user.admin? %> 
    <button type="button" class="btn btn-success"><a href="/tins/new"><h5>ADD A NEW Popcorn Tin</h5></a></button>
  <% end %>
<% if @tins %>
<% @tins.each do |item| %>
  <div class="col-md-3 col-sm-3 col-xs-12 bor">
    <p><%= item.name %></p>
    <p><img src='<%= item.photo %>'  height="140" width="auto" class="thumbnail"></p>
    <p><%= item.description %></p>
    <% if user_signed_in? && current_user.admin? %>
      <button><%= link_to 'EDIT Tin', edit_tin_path(item.id) %></button>
      <a data-confirm="Are you sure?" data-method="delete" href="/tins/<%= item.id %>" rel="nofollow"><button type="button" class="btn btn-danger">Delete Tin</button></a>
    <% end %>
    <% end %>
  </div>
<% end %>
</div>