<div class="container-fluid" >
<h1>Please edit your amount.</strong></h1>
  <h4><%= @carted_product.ws_product.name %></h4>
<%= form_for @carted_product do |f| -%>
  <td><%= f.label :sm_bag_qty %><br>
  <%= f.text_field  :sm_bag_qty, :size => 3 %>
  <%= f.submit %>
  <a data-confirm="Are you sure?" data-method="delete" href="/carted_products/<%= @carted_product.id %>" rel="nofollow"><button>Delete Product</button>
  </td>
<% end %>
</div>