<!DOCTYPE html>
<html>
<head>
  <title>SweetStreet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel='shortcut icon' href='images/favicon2.ico' type='image/x-icon'/ >
</head>
<div class="container-fluid">
  <div class= "banner">
    <% @layouts.each do |l| %>
    <% if l.active %>
    <p><a href="/holidays"><img src= '<%= l.photo_url %>' height="100%" width="100%" ></a></p>
    <% end %>
    <% end %>
  </div>
      
  <div class="jumbotron">
    <%= image_tag "Sweet-street-logo.png" %>            
    <p><a class="btn btn-primary btn-lg" href="/aboutus" role="button">Learn About Us</a></p>
  </div>

  </div>
    <div class="embed-responsive embed-responsive-16by9" ><iframe class="embed-responsive-item" width="250" height="170" src="https://www.youtube.com/embed/aOcdaMEVNtw" frameborder="0" allowfullscreen ></iframe>
  </div>
   
        <section class="slider">
          <div id="main-carousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper For Slides Starts -->
            <div class="carousel-inner">

              <div class="item active">
                <center><a href="/popcorn_flavors"><p>Popcorn Flavors</p><p><%= image_tag "Chocolate-Popcorn-Tin2.png" %></p></a></center>                
              </div>
              <!-- 473 -->
               <% @products.each do |p| %>

              <div class="item">
                <center><a href="/products/<%= p.id %>"><%= p.name %><img src='<%= p.photo %>'  height="120" width="auto" class="thumbnail"></a></center>
              </div>

            <% end %>

            </div>
            <!-- Wrapper For Slides Ends -->
            <!-- Controls Starts -->
              <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            <!-- Controls Ends -->
          </div>        
        </section>
     
        <% if user_signed_in? && current_user.admin? %> 
          <button type="button" class="btn btn-success"><a href="/products/new"><h5>ADD A NEW Product</h5></a></button>
        <% end %>
         
        <% @products.each do |p| %>
        <div class="col-md-3 col-sm-3 col-xs-12 bor">
        <h4 class="product-header">
          <center><a href="/products/<%=p.id%>"><%= p.name %></h4>
            
        <p class='img-thumbnail'><% if p.special? %>
          <div class="special"><a href=""><%= image_tag "specials.png" %></a></a></center></div>
            
            <% end %>
          <img src='<%= p.photo %>'  height="140" width="auto" class="thumbnail"></a></p>
         
          <% if user_signed_in? && current_user.admin? %>
          <button><%= link_to 'EDIT Product', edit_product_path(p.id) %></button>
            <a data-confirm="Are you sure?" data-method="delete" href="/products/<%= p.id %>" rel="nofollow"><button type="button" class="btn btn-danger">Delete Product</button></a>
          <% end %>
        </div>
        <% end %>
      <br>

</div>
