<div class="container-fluid">

<h1><%= @product.name %></h1>



<div class="img-thumbnail"><img src="<%= @product.photo %>" alt="Smiley face" width="400" > </div><button><a href="/">Return to Products</a></button><br />
<h3><%= @product.description %></h3>


<% @product.popcorn_flavors.each do |flavor| %>
<div class="col-md-3">
<p><a href="/popcorn_flavors/<%= flavor.id %>"><%= flavor.name %></a></p>

</div>
<% end %>





</div>