<!DOCTYPE html>
<html>
<head>
  <title>SweetStreet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<% flash .each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= message %>
  </div>
<% end %>
<div class="container-fluid">
  <nav class="navbar-color">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <u><b><span class="icon-bar">LINKS</span></b></u>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/products">Home</a>
      <a class="navbar-brand" href="/popcorn_flavors">Popcorn Flavors</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
          <% if user_signed_in? && current_user.ws_cust? %>
          <li><a href="/ws_products">Products available</a></li>        
            <% if @order %>
          <li><a href="/orders/<%= @order.id %>">
            <i class="glyphicon glyphicon-shopping-cart" title="My Cart"></i>Shopping Cart</a>
          </li>
            <% end %>

       
          <!-- <li><a href="/orders">My History</a></li> -->
          <% end %>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/tins">Popcorn Tins</a></li>
        <li><a href="/orders">Order History</a></li>
        <li><a href="/holidays">Holidays</a></li>
        <li><a href="/festivals">Festivals</a></li>
        <li><a data-toggle="modal" data-target="#myModal" >
              Hours
            </a>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Hours of Operation</h4>
              </div>
              <div class="modalLogo" >
                <%= image_tag "Sweet-street-logo.png" %>
              </div>
              <div class="modal-body">
               Monday     10am - 8pm<br>
               Tuesday    10am - 8pm<br>
               Wednesday  10am - 8pm<br>
               Thursday   10am - 8pm<br>
               Friday     10am - 8pm<br>
               Saturday   10am - 8pm<br>
               Sunday     Noon - 5pm
              </div><br><br><br>
              <center><p><a href="https://goo.gl/maps/xmHFNJNM9r52" target="blank">Address: 592 William R Latham Senior Dr, Bourbonnais, IL 60914</a></p>
              <p><a href="tel:+1-815-932-4010">Call 1-815-932-4010</a></p></center>
              <div class="modal-footer">
              <p class="modalFoot">"We Make Sweet Memories!"</p>

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        </li>

        <li><a href="mailto:relroy5499@gmail.com?subject=Inquiry">Contact Us</a><br /></li>
        <li><a href="/aboutus">About Us</a><br /></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</div><!-- /.container-fluid -->

<%= yield %>

<div class= "foot" >
  <footer>
      <!-- Container -->
    <div class="container-fluid">
        <!-- Footer Content -->
        
          <!-- Paragraph -->
          <p class="pull-left">Copyright &copy; <%= Time.new.year %> Sweet Street 
          <strong>"We Make Sweet Memories!"</strong></p>&nbsp;&nbsp;&nbsp;
          <br><br><p class="pull-left"><a target="_blank" title="find us on Facebook" href="http://www.facebook.com/sweetstreetcandy/?fref=ts"><img alt="follow me on facebook" src="//login.create.net/images/icons/user/facebook_30x30.png" border=0>  Like us on Facebook!</a></p>&nbsp;&nbsp;
          <span>Site created by <a href="http://robertelroy.com" target="_blank" >Robert Elroy</a><a href="http://anyonecanlearntocode.com" target="_blank" class="color"> 2014 ACLTC</a></span>
          
            <!-- List -->
          <ul class="list-inline pull-right">
            <% if user_signed_in? && current_user.ws_cust? %>
            <li><a href="/users/edit">Update my Account Info</a></li>
            <% end %>
            <% if user_signed_in? && current_user.admin? %>
            <li><a href="/admins">Administration</a></li>
            <% end %>
            <% if user_signed_in? %>
              <li><a href="/users/sign_out" >Sign Out</a></li>
            <% else %>
            <li><a href="/users/sign_in" >Wholesale Sign in</a></li>
            <li><a href="/users/sign_up">Wholesale Inquiry</a></li>
            <% end %>
          </ul>
          <!-- Clearfix -->
          <div class="clearfix"></div>
    </div>
  </footer>
</div>
</body>
</html>
